extends layout
block content

  main#main.container

    .row
      .col-md-5.col-sm-12.pull-right#messages.chatoffset
        .col-xs-12#chat
          ul.messages.list-group
        form.input-group.inputBoxes(action=" ")
          input.form-control(type="text",rows="1", autocomplete = "off")#chatTextArea
          span.input-group-btn
            button.btn.btn-default(type = "submit")#submit Submit
        script.
          const player = '#{player}'
      #topBar
        .row#statusBar
          #status 
            p Waiting on other players...
          #timer
      canvas#artpadCanvas
      br
      #toolbar
        img(src="/images/artpad/highlightBlack.png")#blackBrush
        img(src="/images/artpad/colorRed.png")#redBrush
        img(src="/images/artpad/colorOrange.png")#orangeBrush
        img(src="/images/artpad/colorGreen.png")#greenBrush
        img(src="/images/artpad/colorTeal.png")#tealBrush
        img(src="/images/artpad/colorBlue.png")#blueBrush
        img(src="/images/artpad/eraser.png")#eraser
        span.spacer
        img(src="/images/artpad/clear.png")#clear
        img(src="/images/artpad/undo.png")#undo
        img(src="/images/artpad/skip.png")#skip
    
  script.
    $(document).ready( () => {
      $('#instructionsButton').click( () => {
        $('#instructionsPopup').modal()
      })
    })
    const playerid = "#{id}"
    const roomid = "#{roomid}"
    const username = "#{username}"
    window.onload = () => {
      socket.emit('loadGame', {roomid : roomid, id : "#{id}"});
      if(player === ''){
        $('#loginbutton').html('<a class = "btn btn-default" href = "/auth" role = "button" > Sign in with Google! </a>')
      }
     else {
        $('#loginbutton').html('<a class = "btn btn-default" href = "/logout" role = "button" > Log out  </a>')
      }
    }
  script(src="/javascripts/artpad.js")
  script(src='/javascripts/game.js')
  script(src='/javascripts/socket.js')