extends layout

block content 
  main.container
    .row
      .col-xs-12#topBar
        p Welcome #{username}
      .col-md-7.col-sm-12#gamerooms
        .col-xs-12#rooms
          ul.activegames.list-group
          .modal.fade(tabindex='-1', role='dialog', arai-labelledby='popupLabel', aria-hidden='true')#roomPopup
            .modal-dialog.modal-sm(role='document')
              .modal-content
                .modal-body
                  p Please sign in to enter a room.
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        form.input-group.inputBoxes(action = " ", data-toggle='modal', data-target='popup')
          input.form-control(type="text" maxlength = "25")
          .modal.fade(tabindex='-1', role='dialog', arai-labelledby='popupLabel', aria-hidden='true')#gameRoomPopup
            .modal-dialog.modal-sm(role='document')
              .modal-content
                .modal-body
                  p Please sign in to create a room.
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          span.input-group-btn
            button.btn.btn-default#creategamebutton Create Room
      .col-md-5.col-sm-12#messages
        .col-xs-12#chat
          ul.messages.list-group
        form.input-group.inputBoxes(action=" ")
          input.form-control(type="text",rows="1", autocomplete = "off", data-toggle='modal', data-target='popup')#chatTextArea
          .modal.fade(tabindex='-1', role='dialog', arai-labelledby='popupLabel', aria-hidden='true')#chatPopup
            .modal-dialog.modal-sm(role='document')
              .modal-content
                .modal-body
                  p Please sign in to chat.
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          span.input-group-btn
            button.btn.btn-default(type = "submit")#submit Submit
        script.
          const player = '#{player}'
          const username = '#{username}'
          

    script(src='/javascripts/socket.js')
    script.
      $(document).ready( () => {
        $('#instructionsButton').click( () => {
          $('#instructionsPopup').modal()
        })
      })
      const playerid = "#{id}" 
      window.onload = () => {
        socket.emit('loadLobby', {username : "#{username}", id : "#{id}"});
        if(player === ''){
          $('#loginbutton').html('<a class = "" href = "/auth" > <img src= "/images/googlelogin.png"> </a>')
        }
        else {
          $('#loginbutton').html('<a class = "btn btn-default" href = "/logout" role = "button" > Log out  </a>')
        }
      }
